@media screen and (max-width:768px) {
    .nav-container{
     flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        align-items: center;
        
    }
    .nav-icon{
        
        margin: 0 auto;
        width: 50%
        
        }
        /* nav bar done  */
        .banner{
            flex-direction: column-reverse;

        }
        .content-container{
      
            width: 100%;
        }
        .banner-img{
            width: 100%;
           
        }
        /* banner done  */
        .games-images{
            grid-template-columns: repeat(2,1fr);
            text-align: center;
        }
    
}
@media screen and (max-width:425px) {
    .nav-container{
     flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .nav-icon{
        width: 60%;
      
        margin: o auto;
        
      
    }
    /* nav bar done  */
    /* banner section start  */
    .banner{
        flex-direction: column-reverse;

    }
    .content-container{
      
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    /* banner done  */
    .games-images{
        grid-template-columns: 1fr;
        text-align: center;
    }
}