@media screen and (max-width:768px) {
    .nav-container{
     flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        align-items: center;
        
    }
    .nav-icon{
        
        margin: 0 auto;
        width: 50%
        
        }
        /* nav bar done  */
        .banner{
            flex-direction: column-reverse;

        }
        .content-container{
      
            width: 100%;
        }
        .banner-img{
            width: 100%;
           
        }
        /* banner done  */
        .games-images{
            grid-template-columns: repeat(2,1fr);
            text-align: center;
        }
        .games{
            margin-bottom: 10px;
        }
        /* games done  */
        .play{
            flex-direction:column-reverse;
            /* gap: 30px; */

        }
        .play-img{
            width: 80%;
        }
        .play-content{
            width: 100%;
        }
        .play-img-2{
            width: 40%;
        }
        .play-content{
            padding-top: 0;
        }
        /* play done  */
        .hoverr{
            width: 100%;
            padding: 0 5%;
            flex-wrap: wrap;
            gap: 5px;
        }
        .hover-img{
            flex-basis: 25%;
        }
        .hover-img span{
            font-weight: 80%;
            font-size: 80%;
        }
        /* hover done  */
        .footer-p{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            /* gap: 20px; */
        }
        .footer-span{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            /* gap: 30px; */
        }
        .footer-leg{
            display: grid;
            grid-template-columns: repeat(2,1fr); 
        }
       

       
    
}
@media screen and (max-width:425px) {
    .nav-container{
     flex-direction: column;
     /* padding: 0 5%; */
    }
    .nav-items{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .nav-icon{
        width: 60%;
      
        margin: o auto;
        
      
    }
    /* nav bar done  */
    /* banner section start  */
    .banner{
        flex-direction: column-reverse;
        padding: 0 10%;

    }
    .content-container{
      
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    /* banner done  */
    .games-images{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .games{
        margin-bottom: 10px;
        padding: 0 10%;
    }
    /* games done  */
    .play{
        flex-direction:column-reverse;
        padding: 0 5%;
    }
    .play-img{
        width: 80%;
    }
    .play-content{
        width: 100%;
    }
    .play-img-2{
        width: 40%;
    }
    .play-content{
        padding-top: 0;
    }
    /* play done  */
    .hoverr{
        width: 100%;
        padding: 0 5%;
        gap: 0;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .hover-img{
        flex-basis: 33%;
    }
    .hover-img img{
        height: 20%;
        width: 20%;
    }
    .hover-img span{
        font-weight: 65%;
        font-size: 65%;
    }
    /* hover done  */
    .footer-p{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* gap: 20px; */
    }
    .footer-span{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* gap: 20px; */
    }
    .footer-leg{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
    }
}
