@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}
.nav-container{
    
    max-width: 1440px;
    min-height: 20px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    
}
.nav-icon{
    width: 50%;
    
    display: flex;
    align-items: center;
    gap: 20px;

}
.nav-icon h2{
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
}
.nav-items{
    width: 50%;
    
    display: flex;
    justify-content: space-around;
   
}

.nav-items a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #3C354F;
    display: flex;
    align-items: center;
  
}
.spcl-a{
    background-color:  rgba(11, 2, 35, 0.10);
    padding: 10px 10px;
    border-radius: 7px;
    
}

/* nav completed */

.banner{
    
    max-width: 1900px;;
    min-height: 50px;
   
    /* min-height: 100%; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    
    
    

}
.content-container{
    
    width: 50%;
    /* min-height:100%; */
    
    background-image: url("../images/Group\ 14.png");
    padding-bottom: 7%;
    padding-top: 7%;
    text-align: center;
    align-items: center;
    
    /* padding-left: 10%; */
    /* padding: 20%; */
 
    
}
.banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.content-container .main-title{
    font-size: 5.6rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 0;
}
.common-title{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
}
.btn-1{
     background-color: #FF42A5;
     font-size: 1.3rem;
     font-weight: 600;
     color: #FFF;
     padding: 10px 20px;
     border-radius: 35px;
     border: none;
     margin-right: 20px;
}
.btn-1:hover{
    cursor: pointer;
}
.btn-2{
    font-size: 1.3rem;
    font-weight: 600;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 35px;
    border: none;
    background-color: #4EC5F7; 
}
.btn-2:hover{
    cursor: pointer;
}
.banner-img{
    width: 50%;
    
}
.banner-img img{
    width:80%;
    height: 80%;
    
  

}
/* banner section done  */

.games{
    
    max-width: 1440px;
    margin: 50px auto;
}
.games-title{
    text-align: center;
}
.games-title h3{
    color: #0B0223;;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.games-title-spcl{
    background-image:  linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.games-title p{
    color:#534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}
.games-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.games-images p{
    font-weight: 500;
    color:#534C64;
    font-size: 1.2rem;
    line-height: 30px;

}
#special-img{
    position: relative;
    display: inline-block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}
.fa-circle-play {
    font-size: 1.5rem;
    color: #FFF;
    margin-bottom: 8px;
  }

  .watch-later-text{
    color: #FFF;
    font-size: 1.2rem;
  } 

#special-img:hover .overlay {
    opacity: 1;
  }

/* games done  */
.play{
    
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 10%;
    margin-bottom: 100px;
}
.play-img{
    width: 50%;
    
    position: relative;
}
   
    

.play-content{
   
    width: 40%;
    text-align: center;
    /* margin-top: 10%; */
    padding-top: 10%;
    
   
}
.play-content h3{
    font-size: 3rem;
    font-weight: 700;
}
.play-content p{
    color:#534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px; 
}



.play-img-1{
    width: 100%;
    /* position: relative; */
}
.play-image-2{
    /* position: absolute; */
    /* top: 0px; */
    width: 100%;
}
.play-img-2{


    position: absolute;
    top: 67%;
    right: -20%;
    
}
/* play done */
.hoverr{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    padding-top: 20px;
    
    /* gap: 32px; */
    max-width: 1440px;
    flex-wrap: wrap;
    /* flex-basis: 30%; */
    align-items: center;
    justify-content: center;
    
    
}
.hover-img{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid transparent;
    padding: 1px 1px;
    border-radius: 50px;
    flex-basis: 20%;
}
.hover-img img{
    /* width: 60px; */
    /* height: 60px; */
}
.hover-img span{
    color: #0B0223;
    font-weight: 600;
    font-size: 1.25rem;
}
.hover-img:hover{
    background-image:  linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    border: 1px solid #F948B2 ;
    cursor: pointer;
}
/* hover done  */
.footer-container{
    
    margin-top: 60px;
    background-color: #0B0223;
    text-align: center;
    justify-content: center;
    width: 100%
    
   
}
.footer-container h3{
    font-size: 2.9rem;
    font-weight: 700;
}
.footer-title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* padding-bottom: 10px; */
}
.footer-title img{
    width: 80px;
    height: 40px;
}
.footer-p span{
    color: #FFF;

    padding-right: 10px;
}
.footer-p{
    padding-bottom: 50px;
}
.footer-span span{
    padding-right: 15px;
}
.footer-span span:hover{
    cursor: pointer;
}
.footer-span{
    padding-bottom: 50px;
}

.footer-leg{
    color: #FFF;
    padding-bottom: 50px;
}
.footer-leg span{
    color: #FFF;
    padding-right: 10px;
}
.last-p p{
    color: #FFF;
}
.last-p{
    padding-bottom: 50px;
}
